fastapi
uvicorn # server manager
sqlalchemy # database toolkit
passlib[bcrypt] # password hashing
python-jose[cryptography] # JWT token handling
python-dotenv # environment variable management
python-multipart # for handling file uploads